<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Connexion à GitHub</title>

    <!-- include rpgui -->
  	<link href="/assets/style/rpgui.css" rel="stylesheet" type="text/css" >
  	<script src="/assets/rpgui.js"></script>

      <style>
          body
          {
              background: #400000;
          }
      </style>
  </head>
  <body>
    <div class="rpgui-content" style="overflow-y:scroll;">
      <div class="container" style="padding:10px 300px 70px 300px">
        <div class="inner rpgui-container framed" style="position:relative">
          <h1>Connexion à GitHub</h1>
          <form action="/" method="post">
            <label for="token">Token :</label>
            <input type="text" name="token" placeholder="token"><br>
            <input type="submit" value="Connexion">
          </form>
          <%if (locals.auth_success && auth_success) {%>
          <h2>Bienvenue aventurier : <%=cred%></h2>
          <%}%>

          <%if (locals.auth_success === false && !auth_success) {%>
          <h2>Les identifiants sont invalides</h2>
          <%}%>



        </div>

        <%if (locals.auth_success && auth_success) {%>
          <%locals.orgs.forEach((org) => {%>
            <h2>-------------------- <%=org.orgName%> --------------------</h2>
            <%if (org.repos !== null) {org.repos.forEach((repo) => {%>
              <p><%=repo.repName%> : </p>
              <%if (repo.projectsList != null) {repo.projectsList.forEach((project) => {%>
                <%- include("object_list.ejs", {name:project.projName}) %>
              <%})%>
            <%}})%>
          <%}})%>
        <%}%>

      </div>
    </div>
  </body>
</html>
