<!DOCTYPE HTML>
<html>

<head>
	<title lang="fr">Tableau de bord du projet</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">

	<!-- include rpgui -->
	<link href="../dist/rpgui.css" rel="stylesheet" type="text/css" >
	<script src="../dist/rpgui.js"></script>

    <style>
        body
        {
            background: #400000;
        }
    </style>

</head>

<body>
    <!-- all rpgui elements must be inside the rpgui-content -->
	<div class="rpgui-content">
    <div class="rpgui-container framed">
      <form class="" action="" method="post">
        <div style="width:70%;float:left">
          <input type="text">
        </div>
        <div style="width:30%;float:right">
          <input type="submit">
        </div>
      </form>
    </div>
  </div>
</body>
</html>
