<!DOCTYPE HTML>
<html>

<head>
	<!-- include rpgui -->
	<link href="../public/style/rpgui.css" rel="stylesheet" type="text/css" >
	<script src="../public/rpgui.js"></script>
</head>

<body>
    <!-- all rpgui elements must be inside the rpgui-content -->
	<div class="rpgui-content">
    <div class="rpgui-container framed">
      <form class="" action="" method="post">
        <div style="width:70%;float:left">
          <input type="text" disabled value="Bonjour">
        </div>
        <div style="width:30%;float:right">
          <input type="submit" value="Choisir">
        </div>
      </form>
    </div>
  </div>
</body>
</html>
