<!DOCTYPE HTML>
<html>

<head>
	<!-- include rpgui -->
	<link href="../public/style/rpgui.css" rel="stylesheet" type="text/css" >
	<script src="../public/rpgui.js"></script>
</head>

<body>
    <!-- all rpgui elements must be inside the rpgui-content -->
	<div class="rpgui-content">
    <div class="rpgui-container framed-golden-2" style="width:346px;height:130px">
      <div style="margin: 0;position: absolute;top: 50%;-ms-transform: translateY(-50%);transform: translateY(-50%);width:15%; float:left">
        <div class="rpgui-icon exclamation" style="width:50px;height:50px"></div>
      </div>
      <div style="width:85%; float:right">
        <h1>Ajouter une description à la carte CARTE</h1>
        <h3>+ 372 XP</h3>
      </div>
    </div>
  </div>
</body>
</html>
