<!DOCTYPE html>
<html lang="en">
  <head>
      <link rel="stylesheet" href="/assets/style/style.css">
      <meta charset="UTF-8">
      <title>Cyberahttack's TODO list</title>
  </head>
  <body>
      <div id="inputdiv">
          <form action="/" method="post" class="todoform">
              <% if (locals.titleerr !== undefined) {%>
                  <p class="error">"Veuillez saisir un titre"</p>
              <% } %>
              <input name='title' type="text" placeholder="Entrez le nom de la note">
              <button type="submit" id="addnote">+</button>
          </form>

      </div>
  </body>
</html>