<!DOCTYPE html>
<html lang="en">
  <head>
      <link rel="stylesheet" href="/assets/style/style.css">
      <meta charset="UTF-8">
      <title>Cyberahttack's TODO list</title>
  </head>
  <body>
      <form action="/" method="POST">
          <input type="submit" value="Test Api"/>
      </form>
  </body>
</html>